// Background
$bg-menu: white;
$bg: rgba(68,108,179,.9);
$bg-image: url('../images/background.jpg');

// Menu
$menu-links-size: 18px;
$menu-links-weight: 600;
$menu-links-color: #3A424A;
$menu-links-align: left;

// Intro
$intro-title-size: 40px;
$intro-title-weight: 300;
$intro-title-color: white;
$intro-title-align: center;

$intro-sub-size: 15px;
$intro-sub-weight: 600;
$intro-sub-color: white;
$intro-sub-align: center;

$intro-content-size: initial;
$intro-content-weight: initial;
$intro-content-color: white;
$intro-content-align: center;

// Content
$content-title-size: 35px;
$content-title-weight: 300;
$content-title-color: black;
$content-title-align: center;

$content-sub-size: 15px;
$content-sub-weight: 600;
$content-sub-color: black;
$content-sub-align: center;

$content-content-size: initial;
$content-content-weight: initial;
$content-content-color: black;
$content-content-align: center;

// Skills
$skills-title-size: 15px;
$skills-title-weight: 800;
$skills-title-color: black;
$skills-title-align: center;

// Projects
$projects-title-size: 15px;
$projects-title-weight: 800;
$projects-title-color: black;
$projects-title-align: center;

$projects-content-size: 15px;
$projects-content-weight: 800;
$projects-content-color: black;
$projects-content-align: center;

// Form
$valid: #26A65B;
$invalid: #CF000F;
$field-focused: #6C7A89;
$field-unfocused: #D2D7D3;