.home {
	padding: 0;
	.image {
		height: 75vh;
		width: 100%;

		background-image: $bg-image;
		background-size: cover;
		
		.overlaybg {
			height: 100%;
			width: 100%;
			background-color: $bg;
		}
	}

	.content-block {
		@include centerV;

		.cv-download {
			text-align: center;
			margin-top: 2em;

			a {
				color: #fff;
				text-decoration: none;
				border: 1px solid #fff;
				padding: .5em 1em;

				@include animate(.2s);

				&:hover {
					background-color: #fff;
					color: #000;
				}
			}
		}
	}
}