.menu {
	@include animate(.3s);

	position: fixed;
	display: block;
	background-color: $bg-menu;
	height: 3em;
	z-index: 2;

	a {
		display: inline-block;
		margin-top: .7em;
		padding-right: 10px;
		font-size: $menu-links-size;
		font-weight: $menu-links-weight;
		color: $menu-links-color;
		text-align: $menu-links-align;
		text-decoration: none;
		cursor: pointer;

		&:after {
		  display:block;
		  content: '';
		  padding-top: 5px;
		  border-bottom: solid 2px #BDC3C7;  
		  transform: scaleX(0);  
		  transition: transform 250ms ease-in-out;
		}

		&:hover:after {
			transform: scaleX(1);
		}
	}

	&.scroll {
		background-color: #304771;

		a {
			color: white;
		}
	}
}